@page "/owner"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "OwnersOnly")]

<h1>Owner Dashboard</h1>

@if (_loading)
{
  <p>Lade …</p>
}
else
{
  <p>Willkommen, @(_ownerProfileDto.Firstname) @_ownerProfileDto.Lastname)!</p>
  <p>Hier kannst du deine Konten verwalten und Transaktionen durchführen.</p>
  <p>Deine E-Mail: @(_ownerProfileDto.Email)</p>
  <p>ID </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Firstname</td>
        <td>@_ownerProfileDto.Firstname</td>
      </tr>
      <tr>
        <td>Lastname</td>
        <td>@_ownerProfileDto.Lastname</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>@_ownerProfileDto.Email</td>
      </tr>
      <tr>
        <td>Street</td>
        <td>@(_ownerProfileDto.Street ?? "N/A")</td>
      </tr>
      <tr>
        <td>PostalCode</td>
        <td>@(_ownerProfileDto.PostalCode ?? "N/A")</td>
      </tr>
      <tr>
        <td>City</td>
        <td>@(_ownerProfileDto.City ?? "N/A")</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>@(_ownerProfileDto.Country ?? "N/A")</td>
      </tr>
    </tbody>
  </table>
}